.addReview {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-bottom: 40px;
    width: 80%
}

.addReview form {
    width: 100%;
    display: flex;
    align-items: center;
}

.rate {
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.writeReview {
    margin-top: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.writeReview button {
    border: none;
    border-radius: 15px 15px 15px 15px;
    background-color: transparent;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
}

.writeReview button:hover {
    background-color: #a2e0cc;
    cursor: pointer;
}

.reviewText {
    flex-direction: column;
}

.valoracion {
    padding: 10px;
    display: flex;
}

.valoracion > label {
    padding-top: 15px;
}

.comentario {
    padding: 20px;
}

.comentario > input {
    margin-left: 10px;
    border: none;
    background-color: #a2e0cc;
    border-radius: 15px 15px 15px 15px;
    transition: width 0.5s ease;
    width: 50%;
}


.comentario > input:focus {
    width: 100%;
    border: none;
    outline: none;
}