.wrapper {
  display: flex;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  height: 256px;
  width: 50%;
}

.product-img img {
  height: 256px;
  width: 100%;
  border-radius: 7px 0 0 7px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 256px;
  width: 50%;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  margin: 3px 10px 0 3px;
}

.product-text h1 {
  margin: 0 auto;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-size: 1.5em;
  font-family: "Bentham", serif;
}

.product-text p {
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  /* line-height: 1.7em; */
  font-size: 1em;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 100%;
  position: relative;
}

.product-price-btn p {
  font-family: "Trocchi", serif;
  margin: 0 auto;
  font-size: 1.3em;
  font-weight: lighter;
  color: #474747;
}

span {
  font-family: "Suranna", serif;
  font-size: 1.3em;
}

.product-price-btn button {
  height: 40px;
  width: 140px;
  margin: 0 auto;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}
