.productDiv {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-bottom: 35px;
}

.productsTitle {
  font-size: 45px;
  font-family: "Playfair Display", serif;
}

.logoTitle {
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  justify-content: space-around;
  align-items: center;
  width: 700px;
}

.logoTitle img {
  height: 250px;
}

.eachProduct {
  width: 30%;
  margin: 25px 25px;
}

.products hr {
  width: 80%;
  border: 1px solid #474747;
  margin-top: -20px;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px auto;
  padding: 15px 0px;
  width: 20%;
  border-radius: 15px;
}

.buttons {
  background: #ddbc6c;
  font-size: 15px;
  width:80%;
  outline: none;
}

.products {
  z-index: 0;
}