.productDiv {
  width: 80%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto; */
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 5em;
  column-gap: 1.5em;
  margin: auto;
  padding-bottom: 35px;
}

.productsTitle {
  font-size: 45px;
  margin: 30px auto;
  font-family: "Playfair Display", serif;
}
