.register {
    margin: 50px auto;
}

.login h1 {
    margin-bottom: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: auto;
    align-items:stretch;
    font-weight: bold
}

.form input {
    width: 60%;
    min-width: 50px;
    margin: 25px  auto;
    border-radius: 10px;
}

/* .form input:focus {
    outline: none;
    border: none;
} */

.form label {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.submit {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size:1.5em;
    width: 60%;
    color: #0f0f0f;
    background-color: transparent;
    border-radius: 10px;
    margin: 25px auto
}

.submit:hover {
    cursor: pointer;
    background-color: #ccd5ae;
}