.sidebarDiv {
  width: 25%;
  height: 100vh;
  background-color: #919636;
  border: #5a5f37 solid 5px;
  border-radius: 25px;
}

.sidebarDivOut {
  margin: 8px auto;
  display: flex;
  flex-direction: column;
}

.cartDivs {
  display: flex;
  justify-content: space-between;
}
